@import './keydialog_public.css';
/* 
*   弹窗  
*/

.kdialog{
    .icon-loading {
      width: 66px;
      height:66px;
      border-radius: 6px;
      &:before{
        width: 26px;
        height: 26px;
        margin:18px auto;
      }
    }
}

.kdialog_msg, .kdialog_box{
    border-radius: 4px;
}

.kdialog_msg{
    padding:6px 20px;
}

.kdialog_header{
    font-size: 16px;
    padding: 7px 32px;
    line-height:30px;
}

.kdialog_title{margin-left: -10px;}

.kdialog_close{
    right:5px;
    top:7px;
    width: 26px;
    height:26px;
    &:before, &:after{
        height:2px;
        width:18px;
        top:12px;
        right:4px;
    }
}

.kdialog_content{
    padding:10px 20px 0;
    font-size: 14px;
    max-height: 500px;
    overflow-y: auto;
}

.kdialog_scroll_wrap{
    max-height: 500px;
    overflow: hidden;
}

.kdialog_footer{
    padding:10px 30px 15px;
    a{font-size:14px;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        padding:0 20px;
        margin:0 10px;
    }
}

@keyframes progress{
    from  { background-position: 0 0; }
    to    { background-position: 50px 0; }
}

.confirm{
    &.submiting{
        background-size: 50px 50px !important;
    }
}

.modal_enter, .modal_leave{
    .kdialog_msg, .kdialog_box{
        transition: opacity .3s ease, transform .3s ease-in;
        transition-timing-function:cubic-bezier(0.47, 2.02, 0.31, -0.3);
    }
}

.modal_enter{
    opacity: 1;
    .kdialog_msg, .kdialog_box{transform: scale(1);}
}

.modal_leave{
    opacity: 0;
    .kdialog_msg, .kdialog_box{transform: scale(.7);}
}

/*
* rollfrom
*/

.frombottom{
      .kdialog_wrap{
          width:100%;
          top:100%;
      }
      &.modal_enter{
          .kdialog_wrap{
              top: 50%;
              transition-duration: .3s;
          }
      }
      &.modal_leave{
          .kdialog_wrap{
              top: 100%;
              transition-duration: .3s;
          }
      }
    
}

.fromtop{
    .kdialog_wrap{
        top:-100%;
    }
    &.modal_enter{
        .kdialog_wrap{
            top: 50%;
            transition-duration: .3s;
        }
    }
    &.modal_leave{
        .kdialog_wrap{
            top: -100%;
            transition-duration: .3s;
        }
    }
}
